
@using DesafioSMN.MVC.ViewModels
@model FuncionarioViewModel
@{
    ViewData["Title"] = "Editar Funcionario";
}

<div class="text-center">

    <h1 class="display-4">Editr Funcionario</h1>

</div>

<form asp-controller="Funcionario" asp-action="Criar" method="post" enctype="multipart/form-data">

    <div class="mb-3">
        <label for="funcionario" class="form-label">Nome Completo</label>

        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite Nome do funcionario">
    </div>

    <div class="mb-3">
        <select asp-for="Gestor_FuncionarioId" class="form-control">
            <option value="0">Selecione o Gestor</option>
            @foreach (var funcionario in Model.Funcionarios)
            {
                <option value="@funcionario.Id">@funcionario.Nome</option>

            }
        </select>
    </div>
      
    <div class="mb-3">
        <label for="celular" class="form-label">Celular</label>
        <input type="text" asp-for="Celular" class="form-control" placeholder="Digite o Celular">
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="Digite o  email">
    </div>
    <div class="mb-3">
        <label for="nome" class="form-label">Senha</label>
        <input type="password" asp-for="Senha" class="form-control" placeholder="digite a seha do usuário">
    </div>

    <div class="mb-3">
        <label for="nome" class="form-label">Perfil</label>
        <select asp-for="Perfil" class="form-control">
            <option value="0">Selecione</option>
            <option value="1">Administrador</option>
            <option value="2">Padrao</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="datadenascimento" class="form-label">Data Nascimento</label>
        <input type="datetime" asp-for="DataNascimento" class="form-control" placeholder="Data de nascimento">
    </div>


    <div class="mb-3">
        <label class="form-label">Foto</label>
        <input type="file" id="ImageFile" name="foto" asp-for="Foto" class="form-control" placeholder="insira sua foto">
    </div>

    <div class="mb-3">
        <label for="cidade" class="form-label">Cidade</label>
        <input type="text" asp-for="Cidade" class="form-control" placeholder="insira sua cidade">
    </div>
    <div class="mb-3">
        <label for="bairro" class="form-label">Bairro</label>
        <input type="text" asp-for="Bairro" class="form-control" placeholder="insira seu bairro">
    </div>
    <div class="mb-3">
        <label for="rua" class="form-label">Rua</label>
        <input type="text" asp-for="Rua" class="form-control" placeholder="insira sua rua">
    </div>
    <div class="mb-3">
        <label for="numero" class="form-label">Numero</label>
        <input type="text" asp-for="Numero" class="form-control" placeholder="insira seu numero">
    </div>

    <div class="mb-3">
        <label for="cep" class="form-label">Cep</label>
        <input type="text" asp-for="Cep" class="form-control" placeholder="insira seu cep">
    </div>

    <button type="submit" class=" btn btn-success btn-block"> Adcionar</button>
    <a class="btn btn-outline-secondary btn-block" asp-controller="Funcionario" asp-action="Index">Voltar</a>

</form>



