@{
    ViewData["Title"] = "Pagina inicial";
}

<div class="text-center">
    <div class="">

        <div class="text-center">

            <h2>Projeto Desafio SMN Usando DDD </h2>
            <br />
            <div>
                <img src="~/imagens/logo_SMN.png" />
            </div>
            <br />
            <p class="lead">
                Este projeto faz parte do treinamento, para desenvolvedor da SMN
                usando a Arquitetura DDD (Domain Driven Design) com as tecnologias  HTML, CSS , JavaScript e SqlLite  foi contruido usando Entity Framework core.
            </p>
            <p><a href="https://smn.com.br/" class="btn btn-success btn-lg">SMN &raquo;</a></p>

        </div>

    </div>

</div>