@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Pagina Restrita";

}

<div class="text-center">
    <div class="">

        <div class="text-center">

            <h2>Pagina Retrita!! voçe não tem Permissão </h2>
            <br />
            <br />
            <p class="lead">
                <a asp-controller="Home" asp-action="Index"> Click Aqui para voltar para Home</a>
            </p>
            <div>
                <img src="~/imagens/proibido.jpg" />
            </div>
            <br />

            <p><a href="https://smn.com.br/" class="btn btn-success btn-lg">SMN &raquo;</a></p>

        </div>

    </div>

</div>