@model TarefaModel

@{
    ViewData["Title"] = "Adicionar Tarefa";
}

<div class="text-center">
    <h1 class="display-4">Adicionar  Tarefa</h1>
</div>

<form asp-controller="Tarefa" asp-action="Criar" method="post" data-id="">
    <div class="mb-3">
        <select asp-for="FuncionarioId" class="form-control">
            <option value="0">Selecione o Responsável</option>
            @foreach (var funcionario in Model.Funcionarios)
            {
                <option value="@funcionario.Id">@funcionario.Nome</option>

            }
        </select>
    </div>
    <div class="mb-3">
        <label for="descricao" class="form-label">Descrição da tarefa</label>
        <input type="text" asp-for="Descricao" class="form-control" placeholder="Digite a descrição da tarefa">
    </div>

    <div class="mb-3">
        <label for="dataatribuicao" class="form-label">Data do casdatro da tarefa</label>
        <input type="text" asp-for="DataAtribuicao" class="form-control" placeholder="Digite a Data de casdastro da tarefa">
    </div>

    <div class="mb-3">
        <label for="dataconclusao" class="form-label">Data da conclusão da tarefa</label>
        <input type="text" asp-for="DataConclusao" class="form-control" placeholder="Data de conclusão da tarefa">
    </div>

    <button type="submit" class="btn btn-success btn-block">Adicionar</button>
    <a class="btn btn-outline-secondary btn-block" asp-controller="Tarefa" asp-action="Index">Voltar</a>

</form>