@model TarefaModel 
@{
    ViewData["Title"] = "Editar Tarefa";
}

<div class="text-center">

    <h1 class="display-4">Editar  Tarefa</h1>

</div>

<form asp-controller="Tarefa" asp-action="Alterar" method="post" data-id="">

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="CriadorId" />
    <div class="mb-3">


        <!-- Se a lista de funcionários não for nula e não estiver vazia, exiba a lista em um menu suspenso -->
        @if (Model.Funcionarios != null && Model.Funcionarios.Any())
        {
            <select asp-for="Responsavel" class="form-control">
                @foreach (var funcionario in Model.Funcionarios)
                {
                    <option value="@funcionario.Id">@funcionario.Nome</option>
                }
            </select>
        }
        else
        {
            <p>Não há funcionários disponíveis.</p>
        }

    </div>
    <div class="mb-3">
        <label for="descricao" class="form-label">Descrição da tarefa</label>
        <input type="text" asp-for="Descricao" class="form-control" placeholder="Digite a descrição da tarefa">
    </div>

    <div class="mb-3">
        <label for="dataatribuicao" class="form-label">Data do casdatro da tarefa</label>
        <input type="text" asp-for="DataAtribuicao" class="form-control" placeholder="Digite a Data de casdastro da tarefa">
    </div>

    <div class="mb-3">
        <label for="dataconclusao" class="form-label">Data da conclusão da tarefa</label>
        <input type="text" asp-for="DataConclusao" class="form-control" placeholder="Data de conclusão da tarefa">
    </div>

    @{
        bool isAdmin = User.IsInRole("Admin"); // trocando o texto do botao
    }

    <button type="submit" class="btn btn-success btn-block">
        @if (isAdmin)
        {
            <text>Alterar</text>
        }
        else
        {
            <text>Finalizar Tarefa</text>
        }
    </button>


    <a class="btn btn-outline-secondary btn-block" asp-controller="Tarefa" asp-action="Index">Voltar</a>

</form>